* {
  margin: 0%;
  padding: 0%;
}
h1 {
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px #000000;
  padding-bottom: 20px;
}
.section1 {
  margin: auto;
  height: 80%;
  width: 20%;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  background-color: blueviolet;
  border-radius: 24px;
}

form {
  margin: auto;
  width: 30%;

  /* height: 80%;
 
    width: 30%;
    background-color: #73ad21;
    border: 3px solid black;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 10px; */
}
.first_input {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
input {
  margin-top: 10px;
  width: 12vw;
  text-align: center;
  color: teal;
  height: 4vh;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border-style: solid;
  border-left-width: thin;
  border-left: 5px solid red;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}
.button1 {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.main_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.btn1 {
  width: auto;
  margin-right: 20px;
}
button {
  height: 30px;
  width: 80px;
  background-color: chartreuse;
}
